div {
    background-image: url("img/divback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    margin: 0 auto;

    border: 2px solid black;
    border-radius: 20px;

    text-align: center;
    text-decoration-style: solid;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}